In [1]:
import pandas as pd

In [2]:
pwd

'/Users/ognjenstrbanovic/Desktop/Boot Camp/pandas-challenge/HeroesOfPymoli'

In [3]:
# File to Load
file_to_load = "purchase_data.csv"
# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
# Preview the first five rows of the DataFrame with the ".head()" function
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,101,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [4]:
# Display the total number of players
total_number_of_players = purchase_data["SN"].value_counts()
# With the ".value_counts()" function, I found that the total number of (unique) players is equal to 576
# I am using the count function, instead of just plugging in the integer, for the reusability of the code
total_number_of_players_dict = [{"Total Players": total_number_of_players.count()}]
# Convert this into a "DataFrame"
total_number_of_players_df = pd.DataFrame(total_number_of_players_dict)
total_number_of_players_df

   Total Players
0            576

In [5]:
# Run basic calculations to obtain number of unique items, average price, etc.
# For obtaining the number of unique items, we can do .value_counts() on Item ID or Item Name; I chose Item ID
number_of_unique_items = purchase_data["Item ID"].value_counts()
# We found the number of unique items to be equal to 183
number_of_unique_items_dict = [{"Number of Unique Items": 183}]
number_of_unique_items_df = pd.DataFrame(number_of_unique_items_dict)

In [6]:
# Before finding the mean of the Price column, give the displayed data cleaner formatting
average_purchase_price = purchase_data["Price"].mean()
average_purchase_price_dict = [{"Average Price": average_purchase_price}]
average_purchase_price_df = pd.DataFrame(average_purchase_price_dict)
# Optional: give the displayed data cleaner formatting
# The formatting is: two decimal places with a dollar sign
average_purchase_price_df["Average Price"] = average_purchase_price_df["Average Price"].map("${:.2f}".format)

In [7]:
number_of_purchases = purchase_data["Purchase ID"].count()
number_of_purchases_dict = [{"Number of Purchases": number_of_purchases}]
number_of_purchases_df = pd.DataFrame(number_of_purchases_dict)

In [8]:
# Only one item is bought at the purchase price each time, so we only need to find the sum of the purchase prices to find the total revenue
total_revenue = purchase_data["Price"].sum()
total_revenue_dict = [{"Total Revenue": total_revenue}]
total_revenue_df = pd.DataFrame(total_revenue_dict)

In [9]:
# Create a summary data frame to hold the results
# I found the concatenate function via Google; it operates along the columns (x) axis (from left to right)
total_purchasing_analysis_summary_table = pd.concat([total_number_of_players_df, number_of_unique_items_df, number_of_purchases_df, total_revenue_df], sort = False, axis = 1)
# Display the summary data frame
total_purchasing_analysis_summary_table

   Total Players  Number of Unique Items  Number of Purchases  Total Revenue
0            576                     183                  780        2379.77

In [10]:
# Percentage and Count of Male Players
# In this case, ".loc" allows us to locate all of the instances of "Male" in the Gender column of the purchase_data DataFrame
male_players = purchase_data.loc[purchase_data["Gender"] == "Male"]
# Now, ".value_counts()" returns the count of unique male players (if their SN appears more than once, it will only be counted once)
unique_male_players = male_players["SN"].value_counts()
unique_male_players_percentage = unique_male_players.count() / total_number_of_players.count()
# I am formatting this so that it is a percentage with two decimal places; I am using a function built into Python (not imported from the pandas library)
unique_male_players_percentage_formatted = format(unique_male_players_percentage, ".2%")

In [11]:
# Percentage and Count of Female Players
female_players = purchase_data.loc[purchase_data["Gender"] == "Female"]
unique_female_players = female_players["SN"].value_counts()
unique_female_players_percentage = unique_female_players.count() / total_number_of_players.count()
unique_female_players_percentage_formatted = format(unique_female_players_percentage, ".2%")

In [12]:
# Percentage and Count of Other / Non-Disclosed
# Subtracting the unique male and female players from the total number of unique players gets us the above
other_players_count = total_number_of_players.count() - (unique_male_players.count() + unique_female_players.count())
other_players_percentage = other_players_count / total_number_of_players.count()
other_players_percentage_formatted = format(other_players_percentage, ".2%")

In [17]:
# Convert a single dictionary containing lists into a dataframe
gender_demographics_dict = {"": ["Male", "Female", "Other / Non-Disclosed"], "Total Count": [unique_male_players.count(), unique_female_players.count(), other_players_count], "Percentage of Players": [unique_male_players_percentage_formatted, unique_female_players_percentage_formatted, other_players_percentage_formatted]}
gender_demographics_df = pd.DataFrame(gender_demographics_dict)
# Set the new index to Gender
gender_demographics_dataframe = gender_demographics_df.set_index("")
gender_demographics_dataframe

                       Total Count Percentage of Players

Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

In [41]:
# Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
# For male, female, and other (or non-disclosed) players, count the number of times a purchase ID was generated to get their respective purchase counts
male_purchase_count = male_players["Purchase ID"].count()
female_purchase_count = female_players["Purchase ID"].count()
other_purchase_count = purchase_data["Purchase ID"].count() - male_purchase_count - female_purchase_count

In [60]:
# The below is the code for total purchase value by gender type
male_total_purchase_value = male_players["Price"].sum()
male_total_purchase_value_formatted = "${:.2f}".format(male_total_purchase_value)
female_total_purchase_value = female_players["Price"].sum()
female_total_purchase_value_formatted = "${:.2f}".format(female_total_purchase_value)
other_total_purchase_value = purchase_data["Price"].sum() - male_total_purchase_value - female_total_purchase_value
other_total_purchase_value_formatted = "${:.2f}".format(other_total_purchase_value)

In [67]:
# The following calculates the avg. purchase price per gender
male_average_purchase_price = male_total_purchase_value / male_purchase_count
male_average_purchase_price_formatted = "${:.2f}".format(male_average_purchase_price)
female_average_purchase_price = female_total_purchase_value / female_purchase_count
female_average_purchase_price_formatted = "${:.2f}".format(female_average_purchase_price)
other_average_purchase_price = other_total_purchase_value / other_purchase_count
other_average_purchase_price_formatted = "${:.2f}".format(other_average_purchase_price)