In [1]:
# Dependencies (the alias is "pd")
import pandas as pd

In [2]:
# File to Load
file_to_load = "purchase_data.csv"
# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
# Preview the first five rows of the DataFrame with the ".head()" function
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
# Display the total number of players
total_number_of_players = purchase_data["SN"].value_counts()
# With the ".value_counts()" function, I found that the total number of (unique) players is equal to 576
# I am using the count function, instead of just plugging in the integer, for the reusability of the code
total_number_of_players_dict = [{"Total Players": total_number_of_players.count()}]
# Convert this into a "DataFrame"
total_number_of_players_df = pd.DataFrame(total_number_of_players_dict)
total_number_of_players_df

   Total Players
0            576

In [4]:
# Run basic calculations to obtain number of unique items, average price, etc.
# For obtaining the number of unique items, we can do .value_counts() on Item ID or Item Name; I chose Item ID
number_of_unique_items = purchase_data["Item ID"].value_counts()
# We found the number of unique items to be equal to 183
number_of_unique_items_dict = [{"Number of Unique Items": 183}]
number_of_unique_items_df = pd.DataFrame(number_of_unique_items_dict)

In [5]:
# Before finding the mean of the Price column, give the displayed data cleaner formatting
average_purchase_price = purchase_data["Price"].mean()
average_purchase_price_dict = [{"Average Price": average_purchase_price}]
average_purchase_price_df = pd.DataFrame(average_purchase_price_dict)
# Optional: give the displayed data cleaner formatting
# The formatting is: two decimal places with a dollar sign
average_purchase_price_df["Average Price"] = average_purchase_price_df["Average Price"].map("${:.2f}".format)

In [6]:
number_of_purchases = purchase_data["Purchase ID"].count()
number_of_purchases_dict = [{"Number of Purchases": number_of_purchases}]
number_of_purchases_df = pd.DataFrame(number_of_purchases_dict)

In [7]:
# Only one item is bought at the purchase price each time, so we only need to find the sum of the purchase prices to find the total revenue
total_revenue = purchase_data["Price"].sum()
total_revenue_formatted = "${:,.2f}".format(total_revenue)
total_revenue_dict = [{"Total Revenue": total_revenue_formatted}]
total_revenue_df = pd.DataFrame(total_revenue_dict)

In [8]:
# Create a summary data frame to hold the results
# I found the concatenate function via Google; it operates along the columns (x) axis (from left to right)
total_purchasing_analysis_summary_table = pd.concat([total_number_of_players_df, number_of_unique_items_df, number_of_purchases_df, total_revenue_df], sort = False, axis = 1)
# Display the summary data frame
total_purchasing_analysis_summary_table

   Total Players  Number of Unique Items  Number of Purchases Total Revenue
0            576                     183                  780     $2,379.77

In [9]:
# Percentage and Count of Male Players
# In this case, ".loc" allows us to locate all of the instances of "Male" in the Gender column of the purchase_data DataFrame
male_players = purchase_data.loc[purchase_data["Gender"] == "Male"]
# Now, ".value_counts()" returns the count of unique male players (if their SN appears more than once, it will only be counted once)
unique_male_players = male_players["SN"].value_counts()
unique_male_players_percentage = unique_male_players.count() / total_number_of_players.count()
# I am formatting this so that it is a percentage with two decimal places; I am using a function built into Python (not imported from the pandas library)
unique_male_players_percentage_formatted = format(unique_male_players_percentage, ".2%")

In [10]:
# Percentage and Count of Female Players
female_players = purchase_data.loc[purchase_data["Gender"] == "Female"]
unique_female_players = female_players["SN"].value_counts()
unique_female_players_percentage = unique_female_players.count() / total_number_of_players.count()
unique_female_players_percentage_formatted = format(unique_female_players_percentage, ".2%")

In [11]:
# Percentage and Count of Other / Non-Disclosed
# Subtracting the unique male and female players from the total number of unique players gets us the above
other_players_count = total_number_of_players.count() - (unique_male_players.count() + unique_female_players.count())
other_players_percentage = other_players_count / total_number_of_players.count()
other_players_percentage_formatted = format(other_players_percentage, ".2%")

In [12]:
# Convert a single dictionary containing lists into a dataframe
gender_demographics_dict = {"Gender": ["Male", "Female", "Other / Non-Disclosed"], 
                            "Total Count": [unique_male_players.count(), unique_female_players.count(), other_players_count], 
                            "Percentage of Players": [unique_male_players_percentage_formatted, unique_female_players_percentage_formatted, other_players_percentage_formatted]}
gender_demographics_df = pd.DataFrame(gender_demographics_dict)
# Set the new index to Gender
indexed_gender_demographics_df = gender_demographics_df.set_index("Gender")
# Delete the name of the index, which is "Gender"
del indexed_gender_demographics_df.index.name
indexed_gender_demographics_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

In [13]:
# Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
# For male, female, and other (or non-disclosed) players, 
# (cont.) count the number of times a purchase ID was generated to get their respective purchase counts
male_purchase_count = male_players["Purchase ID"].count()
female_purchase_count = female_players["Purchase ID"].count()
other_purchase_count = purchase_data["Purchase ID"].count() - male_purchase_count - female_purchase_count

In [14]:
# The below is the code for total purchase value by gender type
male_total_purchase_value = male_players["Price"].sum()
male_total_purchase_value_formatted = "${:,.2f}".format(male_total_purchase_value)
female_total_purchase_value = female_players["Price"].sum()
female_total_purchase_value_formatted = "${:.2f}".format(female_total_purchase_value)
other_total_purchase_value = purchase_data["Price"].sum() - male_total_purchase_value - female_total_purchase_value
other_total_purchase_value_formatted = "${:.2f}".format(other_total_purchase_value)

In [15]:
# The following calculates the avg. purchase price per gender
male_average_purchase_price = male_total_purchase_value / male_purchase_count
male_average_purchase_price_formatted = "${:.2f}".format(male_average_purchase_price)
female_average_purchase_price = female_total_purchase_value / female_purchase_count
female_average_purchase_price_formatted = "${:.2f}".format(female_average_purchase_price)
other_average_purchase_price = other_total_purchase_value / other_purchase_count
other_average_purchase_price_formatted = "${:.2f}".format(other_average_purchase_price)

In [16]:
# Average Purchase Total per Person by Gender
male_average_purchase_total = male_total_purchase_value / unique_male_players.count()
male_average_purchase_total_formatted = "${:.2f}".format(male_average_purchase_total)
female_average_purchase_total = female_total_purchase_value / unique_female_players.count()
female_average_purchase_total_formatted = "${:.2f}".format(female_average_purchase_total)
other_average_purchase_total = other_total_purchase_value / other_players_count
other_average_purchase_total_formatted = "${:.2f}".format(other_average_purchase_total)

In [17]:
gender_purchasing_analysis_dict = {"Gender": ["Male", "Female", "Other / Non-Disclosed"], 
                                   "Purchase Count": [male_purchase_count, female_purchase_count, other_purchase_count], 
                                   "Average Purchase Price": [male_average_purchase_price_formatted, female_average_purchase_price_formatted, other_average_purchase_price_formatted], 
                                   "Total Purchase Value": [male_total_purchase_value_formatted, female_total_purchase_value_formatted, other_total_purchase_value_formatted], 
                                   "Avg. Total Purchase per Person": [male_average_purchase_total_formatted, female_average_purchase_total_formatted, other_average_purchase_total_formatted]}
gender_purchasing_analysis_df = pd.DataFrame(gender_purchasing_analysis_dict)
indexed_gender_purchasing_analysis_df = gender_purchasing_analysis_df.set_index("Gender")
indexed_gender_purchasing_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg. Total Purchase per Person
Gender,,,,
Male,652,$3.02,"$1,967.64",$4.07
Female,113,$3.20,$361.94,$4.47
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [18]:
# Establish the bins for ages by breaking into bins of four years
bins = [0, 9, 14, 19, 24, 29, 34, 39, 45]
# Create the names for the bins
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
age_demographics_df = purchase_data.copy()
# Categorize the existing players using the age bins using pd.cut()
# Creating a group based off of the bins...
age_demographics_df["Age Ranges"] = pd.cut(age_demographics_df["Age"], bins, labels = group_names)
age_demographics_df = age_demographics_df.groupby("Age Ranges")
# Calculate the numbers and percentages by age group
# I found the ".nunique()" function on Stack Overflow; it returns the number of unique elements in the group
total_count = age_demographics_df["SN"].nunique()
percentage_of_players = total_count / total_number_of_players.count() * 100
# Create a summary data frame to hold the results
age_demographics_dataframe = pd.concat([total_count, percentage_of_players], axis = 1)
age_demographics_dataframe.columns = ["Total Count", "Percentage of Players"]
# Round the percentage column to two decimal points
# I found the below on Stack Overflow
pd.options.display.float_format = '{:.2f}%'.format
# Display Age Demographics Table
age_demographics_dataframe

            Total Count  Percentage of Players
Age Ranges
<10                  17                  2.95%
10-14                22                  3.82%
15-19               107                 18.58%
20-24               258                 44.79%
25-29                77                 13.37%
30-34                52                  9.03%
35-39                31                  5.38%
40+                  12                  2.08%

In [19]:
# Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc.
purchase_count = age_demographics_df["Purchase ID"].count()
average_purchase_price_purchasing_analysis = age_demographics_df["Price"].mean()
pd.options.display.float_format = '${:.2f}'.format
total_purchase_value = age_demographics_df["Price"].sum()
average_total_purchase_per_person = total_purchase_value / total_count
# Create a summary data frame to hold the results
age_purchasing_analysis_df = pd.concat([purchase_count, average_purchase_price_purchasing_analysis, total_purchase_value, average_total_purchase_per_person], axis = 1)
age_purchasing_analysis_df.columns = ["Purchase Count", "Average Purchase Price", "Total Purchase Value", "Avg. Total Purchase per Person"]
# Display the summary data frame
age_purchasing_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg. Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

In [20]:
top_spenders_df = purchase_data.copy()
# Run basic calculations to obtain the results in the table below
top_spenders_df_groupby = top_spenders_df.groupby("SN")
purchase_count_top_spenders = top_spenders_df_groupby["Purchase ID"].count()
average_purchase_price_top_spenders = top_spenders_df_groupby["Price"].mean()
total_purchase_value_top_spenders = top_spenders_df_groupby["Price"].sum()
# Create a summary data frame to hold the results
top_spenders_dataframe = pd.concat([purchase_count_top_spenders, average_purchase_price_top_spenders, total_purchase_value_top_spenders], axis = 1)
top_spenders_dataframe.columns = ["Purchase Count", "Average Purchase Price", "Total Purchase Value"]
# Sort the total purchase value column in descending order
top_spenders_dataframe_sorted = top_spenders_dataframe.sort_values("Purchase Count", ascending = False)
# Display a preview of the summary data frame
top_spenders_dataframe_sorted.head()

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                   $3.79                $18.96
Iral74                    4                   $3.40                $13.62
Idastidru52               4                   $3.86                $15.45
Asur53                    3                   $2.48                 $7.44
Inguron55                 3                   $3.70                $11.11

In [21]:
# Retrieve the Item ID, Item Name, and Item Price columns
most_popular_items_df = purchase_data[["Item ID", "Item Name", "Price"]]
# Group by Item ID and Item Name.
most_popular_items_df_groupby = most_popular_items_df.groupby(["Item ID", "Item Name"])
# Perform calculations to obtain purchase count, item price, and total purchase value.
purchase_count_most_popular_items = most_popular_items_df_groupby["Item ID"].count()
# I found the ".first()" with the help of a classmate
item_price = most_popular_items_df_groupby["Price"].first()
total_purchase_value_most_popular_items = most_popular_items_df_groupby["Price"].sum()
# Create a summary data frame to hold the results
most_popular_items_dataframe = pd.concat([purchase_count_most_popular_items, item_price, total_purchase_value_most_popular_items], axis = 1)
most_popular_items_dataframe.columns = ["Purchase Count", "Item Price", "Total Purchase Value"]
# Sort the purchase count column in descending order
most_popular_items_dataframe_sorted = most_popular_items_dataframe.sort_values("Purchase Count", ascending = False)
# Display a preview of the summary data frame
most_popular_items_dataframe_sorted.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

In [26]:
# Sort the above table by total purchase value in descending order
most_profitable_items_df = most_popular_items_dataframe_sorted.sort_values("Total Purchase Value", ascending = False)
# Display a preview of the data frame
most_profitable_items_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80